@import "./variables";


#carrusel__prod__destacados {

    .sliderContainer {
        position: relative;
        background-color: $color-base;        
        margin-left: auto;
        margin-right: auto;

        .tituloProdDestacados {
            
            background: radial-gradient(circle, rgba(255, 127, 80, 0.801) 53%, rgba(180, 6, 24, 1) 100%);
            color: $color-base;            
            position: absolute;
            top: 15px;
            backdrop-filter: blur(5px);
            z-index: 10;

            h1 {
                animation-iteration-count: infinite;
                animation-delay: 15s;
                font-size: 2em;
            }
        }

        #carouselExampleIndicators {
            .carousel-inner {
                overflow: hidden;
                max-width: 900px;
                max-height: 600px;
                background-color: $color-base;
                margin: 0 auto;

                .carousel-item {
                    img {
                        max-height: 400px;
                        object-fit: cover;
                        margin: 0 auto;
                    }

                    table {
                        border: 1px solid $color-terciario;
                        margin: 1em auto;
                        padding: 5px 5px;
                        border-collapse: separate;
                        table-layout: fixed;

                        thead {
                            th {
                                background-color: $color-terciario;
                                color: $color-base;
                                padding: 5px;
                                font-weight: 200 !important;
                                text-align: center;
                            }
                        }

                        tbody {

                            td {
                                width: auto;
                                padding: 10px;

                                .listaMateriales {
                                    list-style-type: square;
                                }

                                &:nth-child(1) {                                    
                                    text-align: center;
                                    & h2{
                                        font-size: 1.5em;
                                    }
                                }

                                &:nth-child(2) {                                    
                                    font-size: 14px;                                    
                                }

                                &:nth-child(3) {                                    
                                    font-size: 14px;
                                    margin-left: 10px;                                    
                                }

                            }
                        }
                    }
                }
            }
        }
    }
}

//*************flechas de carrousel************
.carousel-control-next-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e");
}

//******nosotros

.seccion__titulo {
    .tituloPresentacion {
        background-color: $color-secundario;
        text-align: right;
        color: $color-base;
        margin-top: 5px;
        padding: 5px 15px;
        z-index: 10;
        font-size: 1.5em;

        &:hover .move-left {
            transform: translate(-350px, 0);
            -webkit-transform: translate(-350px, 0);
            /** Safari & Chrome **/
            -o-transform: translate(-350px, 0);
            /** Opera **/
            -moz-transform: translate(-350px, 0);
            /** Firefox **/
        }
    }

}


.tituloNosotros {
    background: rgba(255, 127, 80, 0.801);
    background: radial-gradient(circle, rgba(255, 127, 80, 0.801) 53%, rgba(180, 6, 24, 1) 100%);
    color: $color-base;    
    top: 0em;
    left: 0px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    z-index: 10;
    font-size: 20px !important;
}

.seccion__cuerpo-nosotros {

    .img__nosotros {
        background-color: $color-base;
        height: 250px;

        img {
            object-fit: cover;            
        }
    }

    .texto__nosotros {

        @if $modo-oscuro==true {
            background-color: $color-noche;
            /* Tomato de Fondo */
            color: $color-base;
        }

        @else if $modo-oscuro==false {
            background-color: $color-base;
            /* Blanco de Fondo */
            color: $color-texto-claro;
        }

    }
}

///******preguntas frecuentes***************
.seccion__cuerpo-pregfrec {

    .textoPF {
        h3 {
            
            letter-spacing: 2px;
            text-decoration: underline;
            padding-bottom: 1em;
            padding-top: 1em;
        }

        span {
            font-size: 14px;
            margin: 15px 20px;
        }
    }   
}

//******slider individual del producto
.seccion__slider-producto {
    .produYTextoDetalleContainer {
        max-height: 850px;
        overflow: hidden;
    }

    .contenedor__detalleProd {
       
        .detalleProd {
            
            h2 {
                padding: 10px 20px;
            }
        }

        .precio span {
            border: 1px solid black;
            text-emphasis: bold;
            background-color: $color-base;
            text-align: right;
            padding: 10px 20px;
            margin-left: 70%;
            font-size: 12px;
        }

        
        .detalleProdCaract {
            margin-left: 1em;
            
            .detalleProd-lista {
                list-style: square;
                padding: 1em 1em;                
            }

            .tipoTela {
                list-style: none;
                flex-direction: column;
                align-items: flex-start;
                
                li {
                    margin-bottom: 5px;

                    .tipoTelaIMG {
                        width: 70%;
                    }
                }
            }
        }
    }
}

//*******Individuales****
.ProductosContainer {
    font-size: 14px;
    margin: 2em;

    .ProductosLineaContainer {
        
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        max-width: 1000px;
        margin: 2em auto;

        .contieneProd {
            width: 280px;
            color: #000;
            overflow: hidden;
            position: relative;
            border-style: solid;
            border-color: $color-principal;
            border-radius: 15px;
            border-width: 0.1em;
            margin-bottom: 2em;
            
            img {
                object-fit: cover;
                transition: all 1s;
            }

            h2 {                
                text-align: center;
                text-decoration: none;

                a {
                    text-decoration: none;
                    color: $color-base;
                }
            }

            #sofa {
                top: 60px;
            }

            .contieneProdIMG {
                overflow: hidden;

                &:hover img {
                    transform: scale(1.3);
                }

                #selenia{
                    padding-top: 40px;
                    padding-bottom: 44px;
                }
            }
        }
    }

}

.precioProducto {
    color: black;
    text-align: center;
    margin: 40% 40%;
}

///******contacto***********
.contenedor__formConsulta {
    background-image: url("../imagenes/hero3.jpg");
    background-attachment: fixed;
    background-size: cover;
    
    .formConsulta {
        background-color: rgba(255, 255, 255, 0.568);
        margin: 20px auto;
        backdrop-filter: blur(15px);
        width: 70%;

        .formConsultaRenglon {
            label {
                padding-right: 20px;
                width: 150px;
            }
        }

        .formConsultaRenglonBtn {
            margin-left: 30%;

            .formConsultaBtn {
                background-color: $color-principal;
                width: 200px;
                height: 2.5em;
                vertical-align: middle;
                color: $color-base;
                font-size: 12px !important;
                transition: all 1s;

                &:hover {
                    border: solid;
                    border-color: $color-principal;
                    border-width: 1px;
                    background-color: $color-base;
                    color: black;
                    cursor: pointer;
                    transform: translateY(3px);
                }
            }
        }

        textarea {
            vertical-align: top;
        }

    }
}