@import "./variables";

@media (max-width: 768px) {
    /**tablet*/

    .contenedor {
        width: 90%;
        margin: 0 auto;
    }

    header {
        .navegacion {
            .navegacion__lista {
                flex-direction: column;
            }
        }
    }

    .flex-strech {
        flex-direction: row;
    }

    .flex-center {
        flex-direction: row;
    }

    #carrusel__prod__destacados {
        .sliderContainer {
            #carouselExampleIndicators {
                .carousel-inner {
                    .carousel-item {
                        
                        img {
                            max-height: 200px;

                        }
                    }
                }
            }
        }
    }

    .img__nosotros {
        height: 300px;
    }

    .tituloNosotros {
        font-size: 16px !important;
    }

    #ProductosLineaContainer--sofa {
        flex-direction: row !important;
    }

    .ProductosLineaContainer {
        flex-direction: column;
        align-items: center;
    }


    .produYTextoDetalleContainer {
        max-height: 1270px;
        flex-direction: column;
    }

    .productoDetalleContainer {
        width: 100%;
    }

    .DetalleContainer {
        width: 100%;
    }

    .contieneProd {

        margin-bottom: 16px;

        .btnDetalle {
            left: 95px;
            top: 120px;
        }
    }

    .contenedor__formConsulta {
        .formConsulta {

            .formConsultaRenglonBtn {
                margin-left: 20%;
            }
        }
    }

}

@media (max-width: 560px) {

    /*mobile*/
    .flex-strech {
        flex-direction: column;
    }

    .flex-center {
        flex-direction: column;
    }

    .nombreSeccion {
        font-size: 1.0em !important;
    }

    .font__col {
        font-size: 0.8em !important;
        margin-bottom: 0em !important;
    }

    .img__nosotros {
        height: 250px;
    }

    .tituloPresentacion {
        font-size: 1.2em !important;
    }

    #carrusel__prod__destacados {
        .sliderContainer {
            #carouselExampleIndicators {
                .carousel-inner {
                    .carousel-item {
                        table {
                            h2 {
                                font-size: 12px;
                            }

                            thead {
                                th {
                                    &:nth-child(1) {
                                        width: 20%;
                                        font-size: 12px;
                                    }

                                    &:nth-child(2) {
                                        width: 30%;
                                        font-size: 12px;
                                    }

                                    &:nth-child(3) {
                                        width: 50%;
                                        font-size: 12px;
                                    }
                                }
                            }

                            tbody {
                                td {
                                    &:nth-child(1) {
                                        width: 20%;
                                        font-size: 10px;
                                        text-align: center;
                                    }

                                    &:nth-child(2) {
                                        width: 30%;
                                        font-size: 10px;
                                        padding-left: 0.3em;
                                    }

                                    &:nth-child(3) {
                                        width: 50%;
                                        font-size: 10px;
                                        margin-left: 3px;
                                        padding-left: 0.3em;
                                    }
                                }
                            }
                        }

                    }
                }
            }

            .tituloProdDestacados {
                max-width: 400px;
                h1 {
                    font-size: 1.5em;
                }
            }
        }
    }

    .heroContainer {
        text-align: left;

        .heroSubtitle {
            width: 300px;
        }
    }

    .ProductosLineaContainer {
        flex-direction: column;
        align-items: center;
    }

    #ProductosLineaContainer--sofa {
        flex-direction: column !important;
    }

    .Pagos {
        flex-direction: column;
    }

    .textoPF {
        img {
            width: 50%;
        }

        h3 {
            font-size: 1.2em;
        }
    }

    .formConsulta {
        width: 100%;
        margin: 5px auto;

    
    }


    .contieneProd {

        margin-bottom: 16px;

        .btnDetalle {
            left: 35%;
            top: 40%;
        }
    }


    .contenedor__formConsulta {
        .formConsulta {
            width: 90%;

            .formConsultaRenglonBtn {
                margin-left: 10%;
                font-size: 10px;

                .formConsultaBtn {
                    width: 120px;
                }
            }
        }
    }
}