$color-principal: tomato;
$color-secundario: darkred;
$color-terciario:#CC2825;

$color-base: white;
$color-noche: rgb(73, 72, 72);

$tipo-fuente-principal:'Montserrat', sans-serif ;
$tipo-fuente-footer:'Roboto', sans-serif !important;

$modo-oscuro: false;

$color-texto-oscuro:darkred;
$color-texto-claro: black;